In [47]:
import pandas as pd
import json

with open('data.json', encoding="utf8") as f:
    data = f.readlines()

In [48]:
json_read = json.loads(data[0])

In [49]:
json_read['abstract']

'We are looking for someone to focus purely on recruiting Permanent staff within a buoyant Early Childhood Educaton Sector.'

In [50]:
id_list = []
content_list = []
classification_list = []
location_list = []
workType_list = []
abstract_list = []

for i in range(50000):
    json_read = json.loads(data[i])
    id_list.append(json_read['id'])
    abstract_list.append(json_read['abstract'])
    content_list.append(json_read['content'])
    classification_list.append(json_read['metadata']['classification']['name'])
    location_list.append(json_read['metadata']['location']['name'])
    workType_list.append(json_read['metadata']['workType']['name'])

In [51]:
import nltk
import re
nltk.download('stopwords')

from nltk.corpus import stopwords 
"""e.g. 'and' 'a' 'the' """
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [52]:
def filter_nontext(string):
    string = re.sub('[^A-Za-z]', ' ', string)
    string = string.lower()
    return string

In [53]:
import pandas as pd

In [54]:
df = pd.DataFrame(list(zip(id_list, abstract_list, classification_list, location_list, workType_list)),
              columns=['id', 'abstract', 'classification', 'location', 'workType'])

In [55]:
df

,id,abstract,classification,location,workType
0,38915469,We are looking for someone to focus purely on ...,Education & Training,Sydney,Full Time
1,38934839,Passionate about exceptional customer service?...,Retail & Consumer Products,Melbourne,Casual/Vacation
2,38946054,Readifarians are known for discovering the lat...,Information & Communication Technology,Adelaide,Full Time
3,38833950,~ Rare opportunity for a Senior PM to step int...,Real Estate & Property,Melbourne,Full Time
4,38856271,Rare opportunity for an experienced Technology...,Information & Communication Technology,Auckland,Full Time
...,...,...,...,...,...
49995,38836927,"Data Analyst with Adobe Suite, Analytics and T...",Information & Communication Technology,Sydney,Full Time
49996,38894517,WAPHA > Health Industry - Planning and commiss...,Healthcare & Medical,Perth,Full Time
49997,38854483,Temporary to permanent opportunity with a fant...,"Manufacturing, Transport & Logistics",Melbourne,Full Time
49998,38905179,Our clients are looking for an experienced Civ...,Trades & Services,Coffs Harbour & North Coast,Casual/Vacation
49999,38862684,"At Teletrac Navman, we have a great opportunit...","Manufacturing, Transport & Logistics",Auckland,Full Time

In [56]:
import re
# as per recommendation from @freylis, compile once only
CLEANR = re.compile('<.*?>') 

def cleanhtml(raw_html):
  cleantext = re.sub(CLEANR, '', raw_html)
  return cleantext

In [57]:
df['abstract'] = df['abstract'].apply(lambda x: cleanhtml(str(x)))
df['abstract'] = df['abstract'].apply(lambda x: filter_nontext(str(x)))

In [58]:
df

,id,abstract,classification,location,workType
0,38915469,we are looking for someone to focus purely on ...,Education & Training,Sydney,Full Time
1,38934839,passionate about exceptional customer service ...,Retail & Consumer Products,Melbourne,Casual/Vacation
2,38946054,readifarians are known for discovering the lat...,Information & Communication Technology,Adelaide,Full Time
3,38833950,rare opportunity for a senior pm to step int...,Real Estate & Property,Melbourne,Full Time
4,38856271,rare opportunity for an experienced technology...,Information & Communication Technology,Auckland,Full Time
...,...,...,...,...,...
49995,38836927,data analyst with adobe suite analytics and t...,Information & Communication Technology,Sydney,Full Time
49996,38894517,wapha health industry planning and commiss...,Healthcare & Medical,Perth,Full Time
49997,38854483,temporary to permanent opportunity with a fant...,"Manufacturing, Transport & Logistics",Melbourne,Full Time
49998,38905179,our clients are looking for an experienced civ...,Trades & Services,Coffs Harbour & North Coast,Casual/Vacation
49999,38862684,at teletrac navman we have a great opportunit...,"Manufacturing, Transport & Logistics",Auckland,Full Time

In [59]:
df['abstract'] = df['abstract'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [60]:
df

,id,abstract,classification,location,workType
0,38915469,looking someone focus purely recruiting perman...,Education & Training,Sydney,Full Time
1,38934839,passionate exceptional customer service excite...,Retail & Consumer Products,Melbourne,Casual/Vacation
2,38946054,readifarians known discovering latest greatest...,Information & Communication Technology,Adelaide,Full Time
3,38833950,rare opportunity senior pm step respected agen...,Real Estate & Property,Melbourne,Full Time
4,38856271,rare opportunity experienced technology manage...,Information & Communication Technology,Auckland,Full Time
...,...,...,...,...,...
49995,38836927,data analyst adobe suite analytics target expe...,Information & Communication Technology,Sydney,Full Time
49996,38894517,wapha health industry planning commissioning b...,Healthcare & Medical,Perth,Full Time
49997,38854483,temporary permanent opportunity fantastic glob...,"Manufacturing, Transport & Logistics",Melbourne,Full Time
49998,38905179,clients looking experienced civil labourers co...,Trades & Services,Coffs Harbour & North Coast,Casual/Vacation
49999,38862684,teletrac navman great opportunity customer sup...,"Manufacturing, Transport & Logistics",Auckland,Full Time

In [61]:
import nltk
nltk.download('wordnet')
nltk.stem.WordNetLemmatizer().lemmatize('word')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Kun\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

'word'

In [62]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

In [63]:
def lemmatize_text(text):
    return ' '.join([lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)])

In [64]:
def checknull(text):
    if text == '':
        text = 'random string'
    return text

In [65]:
df['abstract'] = df['abstract'].apply(lambda x: lemmatize_text(str(x)))
df['abstract'] = df['abstract'].apply(lambda x: checknull(str(x)))

In [66]:
df

,id,abstract,classification,location,workType
0,38915469,looking someone focus purely recruiting perman...,Education & Training,Sydney,Full Time
1,38934839,passionate exceptional customer service excite...,Retail & Consumer Products,Melbourne,Casual/Vacation
2,38946054,readifarians known discovering latest greatest...,Information & Communication Technology,Adelaide,Full Time
3,38833950,rare opportunity senior pm step respected agen...,Real Estate & Property,Melbourne,Full Time
4,38856271,rare opportunity experienced technology manage...,Information & Communication Technology,Auckland,Full Time
...,...,...,...,...,...
49995,38836927,data analyst adobe suite analytics target expe...,Information & Communication Technology,Sydney,Full Time
49996,38894517,wapha health industry planning commissioning b...,Healthcare & Medical,Perth,Full Time
49997,38854483,temporary permanent opportunity fantastic glob...,"Manufacturing, Transport & Logistics",Melbourne,Full Time
49998,38905179,client looking experienced civil labourer cons...,Trades & Services,Coffs Harbour & North Coast,Casual/Vacation
49999,38862684,teletrac navman great opportunity customer sup...,"Manufacturing, Transport & Logistics",Auckland,Full Time

In [99]:
df[df['id'] == '38956586']['abstract'].values

array(['throw busy varied admin role business hub mascot supporting tight knit customer service team'],
      dtype=object)

In [23]:
df.to_csv('./abstract.csv')

In [24]:
df['abstract'][2697]

'random string'